*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    position: relative;
}
.content .left{
    /* background-color: blue; */
    height: 100%;
    width: 50%;
}
.content .right{
    /* background-color: red; */
    height: 100%;
    width: 50%;
}
.nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.3vw;
    border-bottom: 3px solid #ffbe55;
}
.nav-2{
    display: flex;
    gap: 4vw;
    margin-right: 40px;
}
.nav-2 h4:hover{
 color: #ffbe55;
 cursor: pointer;
 font-size: 2vw;
 font-weight: 600;
}

.nav h2{
    font-size: 4vw;
    font-weight: 700;
    margin-left: 20px;
}
.nav-2 h4{
    font-size: 2vw;
    font-weight: 200;
}
.nav i{
    font-size: 2.5vw;
    font-weight: 600;
    display: none;
}
.left{
    padding-left: 3vw;
}
.left h1{
    font-size: 4vw;
    font-weight: 900;
    padding-top: 4vw;
    padding-bottom: 2vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  

.left p{
    font-size: 1.50vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;

}
span{
    color:#ffbe55;
}
button{
    size: 20px;
    padding: 2vw;
    border-radius: 30px;
    border-style: none;
    background-color: #ffbe55;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.35vw;
    font-weight: 600;
    color: white;
}
button:hover{
   font-size: 1.40vw;
   cursor: pointer;
}
.right img{
    height: 100%;
    width: 100%;
}
.nav-2 button{
    background-color: #ffbe55;
    color: white;
    border-style: none;
    padding: 1.1vw 2.1vw;
    border-radius: 30px;
    font-size: 1.2vw;
    font-weight: 600;
    size: 1;
}
@media(max-width:600px){
    .nav{
        /* background-color: rgb(75, 94, 36); */
        color: black;
        padding: 0 5vw;
        
    }
    .nav h2{
        font-size: 6vw;
    }
    .nav-2 h4{
        font-size: 3vw;
        display: none;
       
    }

    .nav i{
        font-size: 6vw;
        font-weight: 600;
        color: black;
        display: block;

    }
    .nav-2 button{
        display: none;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 50%;
    }
    .right{
        width: 100%;
        height: 50%;
    }
    .left h1{
        font-size: 12vw;
        line-height: 12vw;
    }
}